<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- Define targets: where to log -->
  <targets>
    <!-- Log to file -->
    <target name="logfile" xsi:type="File" fileName="logs/app.log" layout="${longdate} ${level} ${message} ${exception}" />

    <!-- Log to console -->
    <target name="logconsole" xsi:type="Console" layout="${level}: ${message} ${exception}" />

    <target name="debugger" xsi:type="Debugger" layout="${level}: ${message} ${exception}"/>
  </targets>

  <!-- Define rules: which logs to output -->
  <rules>
    <!-- Log all info and above to file -->
    <logger name="*" minlevel="Info" writeTo="logfile" />

    <!-- Log everything to the console -->
    <logger name="*" minlevel="Debug" writeTo="logconsole" />

    <!-- Log everything to the debugger -->
    <logger name="*" minlevel="Debug" writeTo="debugger" />
  </rules>
</nlog>
